.carousel {

	.has-js & {
		position: relative;
		width:500px;

		&__inner {
			left:0;
			overflow:hidden;
			position: absolute;
			top: 0;
		}

		&__item {
			background:#ededed;
			display: inline-block;
			float:left;
			padding:20px;

			&:last-of-type {
			}

		}

		&-nav {
			float:left;
			margin-top:10px;

			&--linear {

				&__item {
					position: absolute;
					top:50%;
					transform: translateY(-50%);

					&:first-of-type {
						left:0;
					}

					&:last-of-type {
						right:0;
					}

				}

			}

		}

	}

}
